{% extends 'base.html' %} {% block title %} Detect {% endblock title %} {% block body %}

<h1 class="text-center">DR</h1>
<form method="post" action="/result" enctype="multipart/form-data">
    {% csrf_token %}
    <style>
        p {
            background-image: url('5.jpg');
        }
    </style>
    <div class="form-group">
        <label for="name">Patient Name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Enter your Name">
    </div>

    <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email">
    </div>
    <div class="form-group">
        <label for="name">Gender</label>
        <input type="text" class="form-control" id="name" name="gender" placeholder="Enter your Gender">
    </div>
    <div class="form-group">
        <label for="name">Age</label>
        <input type="text" class="form-control" id="name" name="age" placeholder="Enter your Age">
    </div>
    <div class="form-group">
        <label for="phone">Phone Number</label>
        <input type="phone" class="form-control" id="phone" name="phone" placeholder="Enter Your Phone Number">
    </div>
    <div class="form-group">
        <label for="rightimage">Right Image:-</label>
        <input name="right" type="file"><br><br>
    </div>

    <div class="form-group">
        <label for="leftimage">left Image:-</label>
        <input name="left" type="file"><br><br>
    </div>

    <!-- <div class="form-group">
        <label for="desc">Tell me about what you want to contact me for...</label>
        <textarea class="form-control" id="desc" rows="3" name="desc"></textarea>
    </div> -->
    <button class="btn btn-primary" type="submit">Submit</button>
</form>

</form>
{% endblock body %}