{% extends 'base.html' %} {% block title %} Home {% endblock title %} {% block body %}
<div class="container my-4">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="static/1.jpg " height="800" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Diabetic Retinopathy</h5>
                </div>

            </div>
            <div class="carousel-item">
                <img src="static/2.jpg" height="800" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Diabetic Retinopathy</h5>
                </div>
            </div>
            <div class="carousel-item">
                <img src="static/3.jpg" height="800" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Diabetic Retinopathy</h5>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<div class="container">
    <center>
        <h3>Diabetic Retinopathy</h3>
    </center>
</div>
<!-- welcome {{request.user}}
<p>
    This is the best website on this planet and you are very lucky to access it</p>-->
<!-- <a href="/logout">Logout</a> -->
{% endblock body %}